<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes><class
      	name="InterviewTests.FugetronSruthi.AmazonTest">
</class>
    	<class name="InterviewTests.FugetronSruthi.APITest"></class>
    	<class name="InterviewTests.FugetronSruthi.JDBCTest"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
